/*
Theme Name:   	Storefront AkaneArt Child Theme
Theme URI:    	https://github.com/stuartduff/storefront-child-theme Update when I go back on Git at some point.
Author:       	Ann-Marie Foerster
Author URI:     https://annmariefoerster.com
Template:     	storefront
Description:  	This is a child theme to customize the WooThemes StoreFront theme.  Customized for akaneart.com.
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
Storefront is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Images License: GNU General Public License v2 or later
*/
/*
 * Add your own custom css below this text.
 */
/*@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Montserrat&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&family=Patrick+Hand&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
    font-weight: 300;
}
.site-header {padding-top: 1rem;}
.content-area {margin-bottom:0em;}
.site-main {margin-bottom:0em;}
.site-footer {padding: 1em 0 1em;}
.col-full {
    max-width: 90em;
}
    .wp-block-columns {
    margin-bottom: 0;
}
.site-branding .site-title {
    font-family: 'Amatic SC', cursive;
    font-size: 3.65em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Patrick Hand', cursive;
}
.actioncall {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
    .actioncall button {
        font-family: 'Patrick Hand', cursive;
        letter-spacing: 0.075em;
        color: #ccfffc;
        font-size: 1.3rem;
        margin: 1.5rem;
        border-radius: 5px;
        padding: .2rem .7rem;
        background-color: #6f2a47;
    }
gallery-icon img {
    width: 100%;
    height: auto;
}
.hentry .entry-header {
    border-bottom: none;
    margin-bottom: 1em;
}

footer .widget-title {
    font-family: 'Patrick Hand', cursive;
}
.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor, .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:hover, .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:active, .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:visited, .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor svg {
    color: white;
}
/** styled modal **/
.modal-wrapper.styled {
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-wrapper.styled .modal {
    position: relative;
    background-color: #fefefe;
    margin: 10vh auto; /* 10vh from the top and centered */
    padding: 4em;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    transition: all 2s ease;
}

.modal-wrapper.styled .modal .close-modal {
    background: transparent;
    position: absolute;
    top: -6px;
    right: 10px;
    font-size: 2.0em;
    color: #333;
    cursor: pointer;
}

.modal-wrapper.styled .modal h1 {
    font-size: 56px;
    margin: 35px 0;
}

.modal-wrapper.styled .modal .entry-content p {
    font-size: 16px;
}

.modal-wrapper.styled .modal .loading {
    display: block;
    width: 100px;
    margin: auto;
    padding: 25vh 0;
}

.modal-wrapper.styled .modal p {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    color: #444;
    line-height: 1.5em;
    margin-bottom: 0.8em;
}

.modal-wrapper.styled .modal h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

.modal-wrapper.styled .modal h1 {
    font-size: 2.5em;
    margin: 0.3em 0;
}

.modal-wrapper.styled .modal h2 {
    font-size: 2.0em;
    margin: 0.3em 0;
}

.modal-wrapper.styled .modal h3 {
    font-size: 1.75em;
    margin: 0.3em 0;
}

.modal-wrapper.styled .modal h4 {
    font-size: 1.50em;
    margin: 0.3em 0;
}

.modal-wrapper.styled .modal h5 {
    font-size: 1.25em;
    margin: 0.3em 0;
}

.modal-wrapper.styled .modal h6 {
    font-size: 1.0em;
    margin: 0.3em 0;
    line-height: 1.5em;
}

.modal-content {
    padding: 0 0.7em 0em 0.5em;
}

.modal-wrapper.styled .modal ul li, .modal-wrapper.styled .modal ol li {
    line-height: 1em;
    padding-bottom: 0.5em;
    text-align: justify;
}

.modal-wrapper.styled .modal ul li {
    list-style: disc;
    margin-left: 30px;
}

.modal-wrapper.styled .modal ol li {
    list-style: decimal;
    margin-left: 30px;
}

.modal-wrapper.styled .modal ol ol {
    padding: 0.6em;
}

.modal-wrapper.styled .modal dt {
    font-weight: bold;
    text-decoration: underline;
}

.modal-wrapper.styled .modal dd {
    margin: 0;
    padding: 0.5em 0 0.5em 0;
}

.modal-wrapper.styled .modal hr {
    border: 0;
    height: 30px;
    border-style: solid;
    border-color: #8c8c8c;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    background-color: white;
    margin: 25px;
}

.modal-wrapper.styled .modal hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8c8c;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.modal-wrapper.styled .modal blockquote {
    display: block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;

    /*Borders - (Optional)*/
    border-left: 7px solid #009c7b;
    border-right: 1px solid #009c7b;

    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}

.modal-wrapper.styled .modal blockquote::before {
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top: 5px;
}

.modal-wrapper.styled .modal blockquote::after {
    /*Reset to make sure*/
    content: "";
}

.modal-wrapper.styled .modal blockquote a {
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
}

.modal-wrapper.styled .modal blockquote a:hover {
    color: #666;
}

.modal-wrapper.styled .modal blockquote em {
    font-style: italic;
}

.modal-wrapper.styled .modal blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.modal-wrapper.styled .modal blockquote cite:before {
    content: "\2014 \2009";
}

.modal-wrapper.styled .modal table {

    color: #757575;
    font-size: 1em;
    line-height: 2;
    margin: 0 0 24px;
    width: 100%;
}

.modal-wrapper.styled .modal input[type=password] {
    margin: 5px 0 10px;
    width: 25%;
    padding: 7px 0 7px 4px;
    border: 1px solid #E3E3E3;
}
@media only screen and (min-device-width: 240px) and (max-device-width: 1080px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.75rem;
    }
    .hentry .entry-content div.wp-block-image:not(.block-editor-media-placeholder) .alignright, .editor-styles-wrapper div.wp-block-image:not(.block-editor-media-placeholder) .alignright {margin-left:2em;
    }
    .wp-block-image .alignright.size-full.is-resized {
        clear: both;
        float: none;
        margin-right: 0;
        margin-left: 0;
    }
    .gallery .gallery-item{float:none; display: inline-block;}
	.gallery .gallery-item img {width: 90%; height: auto;}	
	.gallery .gallery-item figcaption {display: none;}
    .actioncall {display: block;}
    .actioncall button {
        display: block;
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	border-radius: 5px;
	padding: .5em .75em;
	margin: 2px;
	width: 100%;}
}
